body {
    background-image: url('../../public/nba1.jpg') !important;
    background-size: cover;
}

@media (max-width: 768px) {
    body {
      background-image: url('../../public/nbamobile.jpg') !important;
    }
  }


