.header-boxscroll {
    font-size: 25px;
    margin-top: 20px;
    color: rgba(0, 255, 255, 0.728);
}

.box-aboutme {
    width: 500px;
    height: 200px;
    border-radius: 20px;
    margin-top: 60px;
    box-shadow: 10px -10px 5px rgb(77, 77, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-textsb {
    margin-top: 20px;
    width: 70%;
}

.button-sb {
    margin-top: 30px;
}

@media (max-width: 576px) {

    .box-aboutme {
        width: 90%;
        height: auto;
    }
    .header-boxscroll {
        font-size: 19px;
    }
    .textsb {
        font-size: 15px;
        text-align: justify;
    }

}