.gitem-imageb {
    margin-top: 50px;
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 60% 60%;
}

.gitem-image {
    object-fit: contain;

}

.gitem-imageb:hover {
    -webkit-filter: grayscale(1) invert(1); 
    filter: grayscale(1) invert(1);
    width: 480px;
    height: 480px;
    margin-top: 35px;
}

.drawer-flex {
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
}

.drawer-div::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}
.drawer-div::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 30px;
}


/*TODO AJUSTAR WIDTH A 350 para imagae y hover 370*/
@media only screen and (min-width: 900px) and (max-width: 1540px) {

    .gitem-imageb {
        width: 340px;
        height: 340px;
        margin-top: 15px;
    }

    .gitem-imageb:hover {
        width: 350px;
        height: 350px;
        margin-top: 10px;
    }
}

@media (max-width: 576px) { 
    .gitem-imageb {
        margin-top: 10px;
        width: 200px;
        height: 200px;
    }

    .gitem-imageb:hover {
        width: 220px;
        height: 220px;
        margin-top: 12px;
    }
}