.gitem-outerbox {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.gitem-headerb {
    border-width: 5px;
    border-radius: 50% 20% / 10% 40%;
    max-width: 200px;
    padding: 5px;
}

.gitem-header {
    color: white;
}

@media only screen and (min-width: 900px) and (max-width: 1540px) {

    .gitem-header {
        font-size: 25px;
    }
}

@media (max-width: 576px) { 
    .gitem-outerbox {
        width: auto;
        height: auto;
        margin-bottom: 10px;
    }
}