.main-layout {
    padding-top: 70px;
}

.grid-dashb {
    row-gap: 50px;
    column-gap: 10px;
    padding-top: 10px;
    grid-template-areas: "header header sout"
        "logo1 logo2 am";
    grid-template-rows: 400px 1fr auto;
    grid-template-columns: 1fr 1fr auto;
    border-top-width: 1px;
    border-color: white;
}

.flex-gridheader {
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    display: flex;
}

.header-flex {
    font-size: 27px;
}

.flex-boximg {
    width: 170px;
    height: 170px;
    position: relative;
}

.flex-userteamb {
    border-width: 5px;
    border-color: white;
    margin: 25px auto 0;
    padding: 20px;
    width: 400px;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.text-userteamb {
    color: white;
}

.box-extratext {
    margin-top: 30px;
}

.extratext {
    color: white;
}

.img-userteam {
    object-fit: contain;
}
.box-sideimg {
    position: relative;
    width: 220px;
    min-height: 100vh;
    max-height: 100%;
}

.img-side {
    object-fit: cover;
}

.flex-lastrow {
    flex-direction: column;
    width: auto;
}

.box-buttonso {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 900px) and (max-width: 1540px) {

    .main-layout {
        padding-top: 30px;
        max-width: 1200px;
    }

    .grid-dashb {
        gap: 20px;
        grid-template-rows: 330px 1fr;
    }

    .header-flex {
        font-size: 22px;
    }

    .flex-userteamb {
        width: 350px;
    }

    .flex-boximg {
        width: 130px;
        height: 130px;
    }

    .box-extratext {
        margin-top: 10px;
    }

    .flex-gridheader {
        padding: 10px;
    }

    .box-sideimg {
        width: 140px;
    }


}

@media (max-width: 576px) {

    .grid-dashb {
        gap: 10px;
        grid-template-areas: "sout"
            "header"
            "logo1"
            "logo2"
            "am";
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
    }

    .header-flex {
        font-size: 18px;
        white-space: wrap;
        text-align: center;
    }

    .flex-userteamb {
        width: 200px;
        height: auto;
        gap: 10px;
        padding: 10px;
        margin-bottom: 50px;
    }

    .box-extratext {
        margin-top: 10px;
    }
    .extratext {
        font-size: 15px;
    }

    .text-userteamb {
        font-size: 15px;
    }

    .flex-boximg {
        width: 150px;
        height: 150px;
    }

    .flex-gridheader {
        gap: 15px;
        flex-direction: column;
        padding: 10px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-layout {
        margin-top: 20px;
        padding-top: 15px;
    }
    .box-sideimg {
        width: 120px;
    }
}